

:root.theme_dark,
.page.theme_dark {
  --title-accent-color: #db00ff;
  --basic-decoration-color: #ff0070;
  --accent-color: #ff0070;
  --text-color-contrast: #000028;
  --text-color-main: #f1b2ce;
}

.page.theme_dark {
  background-image: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {
  :root.theme_dark,
  .page.theme_dark {
    --title-accent-color: #db00ff;
    --basic-decoration-color: #ff0070;
    --accent-color: #ff0070;
    --text-color-contrast: #000028;
    --text-color-main: #f1b2ce;
  }

  .page {
    background-image: url(../images/cover-image-dark.png);
  }
}
