

:root.theme_light,
.page.theme_light {
  --title-accent-color: #ffc2e6;
  --basic-decoration-color: #353430;
  --accent-color: #ff8dcb;
  --text-color-contrast: #353430;
  --text-color-main: #353430;
}

.page.theme_light {
  background-image: url(../images/cover-image-light.png);
}

.page.theme_light .header__decorative-point {
  display: none;
}


@media (prefers-color-scheme: light) {
  :root.theme_auto,
  .page.theme_auto {
    --title-accent-color: #ffc2e6;
    --basic-decoration-color: #353430;
    --accent-color: #ff8dcb;
    --text-color-contrast: #353430;
    --text-color-main: #353430;
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }

  .header__decorative-point {
    display: none;
  }
  
}

