

.page {
  padding-inline: var(--page-padding);
  font-family: var(--main-font);
  color: var(--accent-color);
  font-size: var(--fz-body);
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  padding-block: var(--page-padding);
  grid-template-rows: 1fr min-content 1fr;
  min-height: 100dvh;
  position: relative;
}

@media (width >= 768px) {
  .header {
    grid-template-columns: 1fr 1fr;
  }

  .header__theme-menu {
    grid-column: 1 / -1;
  }

  .header__title {
    grid-column: 1 / -1;
  }

  .header__paragraph {
    grid-column: 2 / -1;
    grid-row: 3 / -1;
  }
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: var(--decor-corner);
  block-size: var(--decor-corner);
  border-color: var(--basic-decoration-color);
  border-style: solid;
  border-width: 0;
  pointer-events: none;
}

.decorated-zone::before {
  top: var(--page-padding);
  border-top-width: var(--line-size);
  border-right-width: var(--line-size);
  justify-self: end;
  align-self: start;
}

.decorated-zone::after {
  bottom: var(--page-padding);
  border-bottom-width: var(--line-size);
  border-left-width: var(--line-size);
  justify-self: start;
  align-self: end;
}

.header__decorative-point {
  position: absolute;
  block-size: var(--nav-button);
  inset-block-start: var(--page-padding);
  inset-inline-end: var(--fixed-gap);
  display: flex;
  align-items: center;
  gap: var(--fixed-gap);
}

.header__decorative-point::before {
  content: 'REC';
}

.header__decorative-point::after {
  content: '';
  display: block;
  inline-size: var(--decor-rec);
  block-size: var(--decor-rec);
  border-radius: 100%;
  box-shadow: 0 0 4px 2px var(--basic-decoration-color);
  background-color: var(--basic-decoration-color)
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--fixed-gap);
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
}

.header__theme-menu-button {
  display: flex;
  text-transform: lowercase ;
  background-color: transparent;
  border: 1px solid transparent;
  font-family: inherit;
  color: var(--basic-decoration-color);
  line-height: var(--lh-normal);
  block-size: var(--nav-button);
  outline: none;
  padding-inline: var(--button-padding);
  cursor: pointer;
}

.header__theme-menu-button_active {
  border-color: var(--basic-decoration-color);
}

.header__theme-menu-button:disabled {
  pointer-events: none;
}

.header__title {
  font-weight: var(--fw-bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: var(--lh-small);
  color: var(--title-accent-color);
  text-shadow: 4px 4px 0 var(--title-text-shadow-color);
}

@media (width >= 768px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: calc(-1 * var(--page-padding));
  }
}

.header__paragraph {
  align-self: center;
  font-weight: var(--fw-bold);
  line-height: var(--lh-big);
  display: inline-block;
  color: var(--text-color-contrast);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--text-color-contrast);
}

.main {
  display: grid;
  gap: var(--big-gap);
  color: var(--text-color-main);
  padding-block: clamp(2.5rem, 1.7777rem + 3.0817vw, 3.75rem) var(--main-padding-end);
}

.section {
  display: grid;
  gap: var(--medium-gap);
}

.section__title {
  font-size: inherit;
  color: var(--basic-decoration-color);
  line-height: var(--lh-big);
}

.section__cards {
  display: grid;
  gap: var(--medium-gap);
}

.card__title,
.card__title-tip,
.section__cards-title-tips,
.section__cards-title-gallery {
  font-size: inherit;
  line-height: var(--lh-big);
}

.card__title-tip {
  font-weight: var(--fz-normal);
}

.card__paragraph {
  font-size: inherit;
  line-height: var(--lh-big);
  margin-block-start: var(--margin-text);
}

.card__paragraph-link {
  text-decoration: none;
  border-block-end: var(--line-size) solid currentColor;
  text-shadow: 2px 2px 0 var(--accent-color);
}

a .card__paragraph-link {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.section-gallery {
  gap: var(--small-gap);
}

.section__cards-gallery {
  display: grid;
  gap: var(--small-gap);
}

.section__cards-gallery img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

@media (768px <= width) {
  .section-why,
  .section-distractions,
  .section-tips {
    grid-template-columns: 32% 1fr;
  }

  .section-why__title,
  .section-distractions__title,
  .section-tips__title {
    grid-column: 1 / 2;
  }

  .section-why__cards,
  .section-tips__cards {
    grid-column: 2 / 3;
  }

  .section-distractions__cards {
    grid-column: 1 / -1;
  }

  .section__cards-gallery {
    grid-template-columns: repeat(3, 1fr);
     grid-auto-flow: row;;
  }

  .section__cards-gallery img:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .section__cards-gallery img:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .section__cards-gallery img:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .section__cards-gallery img:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .section__cards-gallery img:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .card__paragraph-link {
    border: none;
  }
}

@media (width >= 1024px) {
  .section-distractions__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

.footer {
  display: grid;
  position: relative;
  min-height: 100dvh;
  padding-block: var(--page-padding);
}

.footer__title {
  justify-self: center;
  align-self: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-accent-color);
  text-shadow: 4px 4px 0 var(--title-text-shadow-color);
}

@media (width >= 768px) {
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}


