/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */


.page {
  padding-inline: var(--page-padding);
  font-family: var(--main-font);
  color: var(--accent-color);
  font-size: var(--fz-body);
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  padding-block: var(--page-padding);
  grid-template-rows: 1fr min-content 1fr;
  min-height: 100dvh;
  position: relative;
}

@media (width >= 768px) {
  .header {
    grid-template-columns: 1fr 1fr;
  }

  .header__theme-menu {
    grid-column: 1 / -1;
  }

  .header__title {
    grid-column: 1 / -1;
  }

  .header__paragraph {
    grid-column: 2 / -1;
    grid-row: 3 / -1;
  }
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-color: #ff003c;
  border-style: solid;
  border-width: 0;
  pointer-events: none;
}

.decorated-zone::before {
  top: var(--page-padding);
  border-top-width: 1px;
  border-right-width: 1px;
  justify-self: end;
  align-self: start;
  
}

.decorated-zone::after {
  bottom: var(--page-padding);
  border-bottom-width: 1px;
  border-left-width: 1px;
  justify-self: start;
  align-self: end;
}

/* .header__decorative-point {
  position: absolute;
  top: 0px;
  right: 48px;
  display: flex;
  align-items: center;
  gap: 4px;
} */


/* .header__decorative-point::after {
  content: '';
  inline-size: 9px;
  block-size: 9px;
  border-radius: 100%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color)
} */

.header__theme-menu {
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--button-gap);
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
}

.header__theme-menu-button {
  display: flex;
  text-transform: lowercase ;
  background-color: transparent;
  border: 1px solid transparent;
  font-family: inherit;
  color: var(--accent-color);
  line-height: var(--lh-normal);
  block-size: 26px;
  outline: none;
  padding-inline: 13px;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border-color: var(--accent-color);
}

.header__theme-menu-button:disabled {
  pointer-events: none;
}

.header__title {
  font-weight: var(--fw-bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: var(--lh-small);
  color: var(--text-accent-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  /* padding: 0; походу не нужен не помню */
}

@media (width >= 768px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.header__paragraph {
  align-self: center;
  font-weight: var(--fw-bold);
  line-height: var(--lh-big);
  display: inline-block;
  background-color: var(--accent-color);
  color: var(--text-color-contrast);
}

.main {
  display: grid;
  gap: var(--main-section-gap);
  color: var(--text-color-main);
  padding-block-start: clamp(2.5rem, 1.7777rem + 3.0817vw, 3.75rem);
  padding-block-end: var(--main-padding-end);
}

.section {
  display: grid;
  gap: var(--section-gap);
  /* подумать может быть тогда убрать */
}

.section__title {
  font-size: inherit;
  color: var(--accent-color);
  line-height: var(--lh-big);
}

.section__cards {
  display: grid;
  gap: var(--cards-gap);
}

.card__title {
  font-size: inherit;
  line-height: var(--lh-big);
}

.card__paragraph{
  font-size: inherit;
  line-height: var(--lh-big);
  margin-block-start: var(--margin-text);
}

.section__cards-title-tips {
  font-size: inherit;
  line-height: var(--lh-big);
}

.card__title-tip {
  font-weight: var(--fz-body);
}

.section__cards-gallery {
  display: grid;
  gap: var(--images-cards-gap);
}

.section__cards-gallery img {
  inline-size: 100%;
  object-fit: contain;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--text-color-contrast);
}


@media (768px <= width) {
  .section-why,
  .section-distractions,
  .section-tips {
    grid-template-columns: 32% 1fr;
  }

  .section-why__title,
  .section-distractions__title,
  .section-tips__title {
    grid-column: 1 / 2;
  }

  .section-why__cards,
  .section-tips__cards {
    grid-column: 2 / 3;
  }

  .section-distractions__cards {
    grid-column: 1 / -1;
  }
}

@media (width >= 1024px) {

  .section-distractions__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

.footer {
  display: grid;
  position: relative;
  min-height: 100dvh;
  padding-block: var(--page-padding);
}

.footer__title {
  justify-self: center;
  align-self: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--text-accent-color);
  text-shadow: 2px 2px 0 0 var(--accent-color);
}

@media (width >= 768px){
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}


