

:root {
   /* 1. ТИПОГРАФИКА */
  --main-font: 'IBM Plex mono';
  --fz-body: 18px;
  --fw-normal: 400;
  --fw-bold: 700;

  --lh-small: 83%;
  --lh-normal: 100%;
  --lh-big: 130%;

  /* 2. ЦВЕТОВАЯ ПАЛИТРА */
  --title-text-shadow-color: #ff0070;
  --basic-decoration-color: #ff0070;
  --accent-color: #ff0070;
  --text-color-contrast: #000028;
  --title-accent-color: #db00ff;
  --text-color-main: #f1b2ce;
  
  /* 3. СТРУКТУРА И ОТСТУПЫ */
  --page-padding: 10px;
  --margin-text: 10px;
  --main-padding-end: 40px;
  --button-padding: 13px;
  
  --small-gap: 10px;
  --medium-gap: 20px;
  --big-gap: 50px;
  --fixed-gap: 10px;

  /* 4. РАЗМЕРЫ НЕКОТОРЫХ ЭЛЕМЕНТОВ */
  --nav-button: 26px;
  --decor-rec: 9px;
  --decor-corner: 25px;
  --line-size: 1px;
}

@media (768px <= width) {
  :root {
    --page-padding: 20px;
    --main-padding-end: 60px;
    --big-gap: 80px;
    --small-gap: 20px;
  }
}