/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
   /* 1. ТИПОГРАФИКА */
  --main-font: 'IBM Plex mono';
  --fw-normal: 400;
  --fw-bold: 700;

  --fz-body: 18px;
  --lh-small: 83%;
  --lh-normal: 100%;
  --lh-big: 130%;

  /* 2. ЦВЕТОВАЯ ПАЛИТРА */
  --bg-color: #000028;
  --accent-color: #ff0070;
  --text-accent-color: #db00ff;
  --text-color-main: #f1b2ce;
  --text-color-contrast: #000028;
  --button-border-color: #ff0070;
  
  /* 3. СТРУКТУРА И ОТСТУПЫ */
  --page-padding: 10px;
  --margin-text: 10px;

  --button-gap: 10px;
  --main-section-gap: 50px;
  --section-gap: 20px;
  --cards-gap: 20px;
  
}

@media (768px <= width) {
  :root {
    --page-padding: 20px;
    --main-section-gap: 80px;
  }
}